*{
    padding: 0;
    margin: 0;
    
}
body {
    max-width: 100%;
    overflow-x: hidden;
}
.wholeContent{
    background-image: url('/assets/img/hotel3.jpg');
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{    
   
    display: flex;
}

.tagline{
    flex: 1;
    margin-left: 40%;
    font-weight: 900;
    font-size: 30px;
    font-family: cursive;
    color: black;
    
}

.content-color{
    color: #e46b0f;
}
.tagline-2{
    margin-left: 18%;
    margin-top: -10%;
    
}
.profile{
    flex: 1;
}
.profile-button{
    margin-left: 50%;
}
#dropdown-basic{
    background-color: unset;
    opacity: 1;
    border-color: none;
    border-radius: 50%;
    border: none;
    
}
.profile-button-links{
    color: #e46b0f;
}
#dropdown-basic:focus{ 
    outline: none;
}
.ourRooms{
    margin-top: 120px;
}

.font-heading {
    font-size: 45px;
    font-family: Lucida Sans;
    text-decoration: underline;
}
.aboutUs{
    margin-top: 150px;
}
.aboutusContent{
    word-spacing: 3px;
    color: gray;
}
.hotelFeatures{
    margin-top: 150px;
}
.testimonials{
    margin-top: 150px;
}
